<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>
			<%= pageTitle %>
		</title>
		<link rel="stylesheet" href="/style.css" type="text/css">
		<!--<link rel="stylesheet" href="/ext-touch.css" type="text/css">-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
		<script src="/javascript/socket.io.js" type="application/javascript"></script>
		<script type="text/javascript">
		var socket = new io.Socket('localhost');
		socket.connect();
		socket.on('connect', function(){ 
			socket.send('OK'); 
		});
		var lastmessage = '';
  		var presentationid = 0;
		socket.on('message', function(message){
			message = $.parseJSON(message);
			if ('presentationid' in message) {
				presentationid = message.presentationid;
				// reset presentation id, do nothing
			}
			//message = eval("(" + message + ")");
//			$('#message').text(message);
		//	lastmessage = $.parseJSON(message);
			if (message.ack) {
				$('#message').text(message.ack);
			}
		});
		
		$(document).ready(function() {

		   $('#messagebox').hide();
		/*	$('button').toggle(function() {
				// Odd presses
				pingback($(this).attr('id'), true);
				$(this).attr('class', 'true');
			}, function() {
				// Even presses
				pingback($(this).attr('id'), false);
				$(this).attr('class','false');
			});

			function pingback(pingtype, pingvalue) {
				// Specific to fast/slow
				var message = "click";
				if (pingvalue == false) {
					message = "OK";
				} else {
					message = pingtype;
				}
				socket.send(message);
			} */
			
			$('li').click(function() {
				socket.send($(this).attr('id'));
				// Pop up a 10 second no-revote box
				$('#messagebox').fadeIn('slow'); // for 10s 
				var sec = 9;
				var timer = setInterval(function() {
					$('#timer').text(sec--);
					if (sec == -1) {
						$('#messagebox').fadeOut('slow');
						clearInterval(timer);
					}
					
				}, 1000);
				
			});
		});
		
		</script>
		<!--<script type="text/javascript" src="/javascript/ext-touch-debug.js"></script>
		<script type="text/javascript" src="/javascript/index.js"></script> -->
	</head>
	<body>
		<div id="distance"></div> 
		<div id="outer">
			<p>
				<ul>
				<li id="slow">too slow</li>
				
				<li id="fast">too fast</li>
			
				<li id="OK">just right</li>
				</ul>

			<div id="messagebox">
				<div id="message"></div>
				<div id="timer">10</div>
			</div>
			</p>
		</div>
	</body>
</html>
