<!doctype html><html>
<head><meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href-"/style.css" type="text/css"> 
<title>Pitch Hero</title>
</head>
<body background="scripts/randombackground">
<div id="logo"></div>
<h1>Pitch Hero</h1>
<div id="recentchart">speed<img src="http://chart.apis.google.com/chart?cht=bhs:nda&chs=1000x200&chd=t:10|50|40&chco=4d89f9,c6d9c6,cc0000&chbh=200&chds=0,100&chm=tslow,000000,0,0,35,,c|tok,000000,1,0,125,,c|tfast,000000,2,0,75,,c" width="1000" height="200"></div>
<div id="timeremaining">60 sec</div>
<div id="avatar"><img src="picture/of/steve/jobs"></div>
</body>
</html>
