<!doctype html><html>
<head><meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="/style.css" type="text/css"> 
<link rel="stylesheet" href="/present.css" type="text/css"> 

<title>Pitch Hero</title>
</head>
<body>
<div id="container">


<div id="recentchart">
	
	<img src="http://chart.apis.google.com/chart?cht=bhs:nda&chs=1000x200&chd=t:10|50|40&chco=4d89f9,c6d9c6,cc0000&chbh=a,0,0&chma=0,0,0,0&chds=0,100&chm=tslow,000000,0,0,35,,c|tok,000000,1,0,125,,c|tfast,000000,2,0,75,,c" width="1000" height="200">
	
	</div>
<div id="bar2">
<div id="timeremaining">60</div>
<div id="logo"><img src="/pitchherologo.png"></img></div>
<div id="avatar"><img src="/images/steve-jobs.jpg"></div>
</div>
</div>
</body>
</html>
